/*
 * custom styles
 * author@ robinson
*/

/* types */
html {
  background-color: gainsboro;
  height: 100%;
  width: 100%;
}

header {
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  background-color: #24292e;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #24292e;
}

/* classes */
.modal-dialog {
  position: fixed;
  left: 15%;
}

.image-wrapper {
  margin-bottom: 100px;
  text-align: center;
}

/*.image-carousel {
  width: calc( 95vh * 1.5 );
  height: 95vh;
}*/

.footer-header {
  font-size: 24px;
  font-weight: bold;
  color: aquamarine;
}

.footer-github {
  font-size: 16px;
  color: silver;
}

.footer-github:hover, .footer-github:focus {
  color: silver;
}

.fluid-container {
  display: flex;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.fluid-container-footer {
  display: flex;
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.nav-container {
  clear: none;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

.page-nav {
  display: block;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 0;
  font-size: 16px;
}

.nav-ul {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  box-sizing: border-box;
}

.nav-a {
  border-top: 0px;
  display: block;
  padding-top: 15px;
  padding-bottom: 0;
  color: rgba(255,255,255,0.75);
}

.nav-a:hover {
  color: rgba(255,255,255,1);
  text-decoration: none !important;
}

.nav-a:focus, .nav-a:active {
  color: rgba(255,255,255,1);
  text-decoration: none !important;
}

.nav-li {
  margin-left: 30px;
  box-sizing: border-box;
}

.header-wrapper {
  position: relative;
  font-size: 32px;
}

.footer-container {
  margin: 50px;
}

.wrapper {
  padding: 5px;
  background-color: gainsboro;
}

.filter-name {
  font-size: 18px;
}

.progress-wrapper {
  margin: 0 auto;
  float: none;
}

.body {
  font-size: 16px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  color: black;
}

.stats {
  float: center;
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

.stats-scheduled {
  font-size: 20px;
  padding: 10px;
}

.itinerary {
  background-color: white;
}

.trip-button {}

.trip-button-clicked {
  color: teal;
  font-weight: bolder;
  font-style: oblique;
}

.center {
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: 30%;
}

.email {
  font-size: 16px;
  color: silver;
}

.email:hover, .email:focus {
  color: silver;
}

/* ids */
#rendered_view {}

#login_link {
  font-size: 16px;
  color: rgba(255,255,255,0.75);
}

#stats-wrapper {
  margin: 0 auto;
  margin-top: 25px;
  overflow: hidden;
  text-align: center;
}

#map {
  height: 750px;
  width: 95%;
  margin: auto;
}

#type-filter {
  margin-right: 15px;
}

#filters_wrapper {
  display: block;
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 25px;
}

#contact-info {
  display: inline-block;
  position: relative;
  left: 25%;
}

#country-filter-wrapper {
  margin-left: 20px;
}

/* animations */
button.ng-enter {
  transition: 1s;
}
button.ng-leave {
    transition: 0s;
}

button.ng-leave.ng-leave-active,
button.ng-enter {
    opacity: 0;
}

button.ng-enter.ng-enter-active,
button.ng-leave {
    opacity: 1;
}
