<!-- Filters -->
<h1 class="section-header"> Past Trips </h1>

<p class="body"> <em>Here is some general info about our previous trips</em>

<div id="stats-wrapper">
  <div class="stats">
    <ul style="list-style-type:circle">
      <li> number of trips <b>{{pastTripsSelectionCtrl.number_of_trips}}</b> </li>
    </ul>
  </div>
  <div class="stats">
    <ul style="list-style-type:circle">
      <li> number of places visited <b>{{pastTripsSelectionCtrl.number_of_locations}}</b> </li>
    </ul>
  </div>
</div>

</p>

<div id="filters_wrapper">
  <!-- Type Filter -->
  <div class="filter">
    <span class="filter-name"> Activity </span>
    <div class="btn-group" uib-dropdown>
      <button type="button" class="btn btn-primary"> {{pastTripsSelectionCtrl.type_filter}} </button>
      <button type="button" class="btn btn-primary" uib-dropdown-toggle>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
        <li role="menuitem" ng-repeat="type in pastTripsSelectionCtrl.all_trip_types" ng-click="pastTripsSelectionCtrl.setFilter( type, pastTripsSelectionCtrl.state_filter, pastTripsSelectionCtrl.country_filter )"><a href="#"> {{type}} </a></li>
        <li class="divider"></li>
        <li role="menuitem" ng-click="pastTripsSelectionCtrl.setFilter( 'All', pastTripsSelectionCtrl.state_filter, pastTripsSelectionCtrl.country_filter )"><a href="#"> All </a></li>
      </ul>
    </div>
  </div>

  <!-- State Filter -->
  <div class="filter">
    <span class="filter-name"> State </span>
    <div class="btn-group" uib-dropdown>
      <button type="button" class="btn btn-primary"> {{pastTripsSelectionCtrl.state_filter}} </button>
      <button type="button" class="btn btn-primary" uib-dropdown-toggle>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
        <li role="menuitem" ng-repeat="state in pastTripsSelectionCtrl.all_trip_states" ng-click="pastTripsSelectionCtrl.setFilter( pastTripsSelectionCtrl.type_filter, state, pastTripsSelectionCtrl.country_filter )"><a href="#"> {{state}} </a></li>
        <li class="divider"></li>
        <li role="menuitem" ng-click="pastTripsSelectionCtrl.setFilter( pastTripsSelectionCtrl.type_filter, 'All', pastTripsSelectionCtrl.country_filter)"><a href="#"> All </a></li>
      </ul>
    </div>
  </div>

  <!-- Country Filter -->
  <div class="filter">
    <span class="filter-name"> Country </span>
    <div class="btn-group" uib-dropdown>
      <button type="button" class="btn btn-primary"> {{pastTripsSelectionCtrl.country_filter}} </button>
      <button type="button" class="btn btn-primary" uib-dropdown-toggle>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
        <li role="menuitem" ng-repeat="country in pastTripsSelectionCtrl.all_trip_countries" ng-click="pastTripsSelectionCtrl.setFilter( pastTripsSelectionCtrl.type_filter, pastTripsSelectionCtrl.state_filter, country )"><a href="#"> {{country}} </a></li>
        <li class="divider"></li>
        <li role="menuitem" ng-click="pastTripsSelectionCtrl.setFilter( pastTripsSelectionCtrl.type_filter, pastTripsSelectionCtrl.state_filter, 'All')"><a href="#"> All </a></li>
      </ul>
    </div>
  </div>
</div>

<div class="trip-select-buttons">
  <button class="col-md-4" ng-class="{'trip-button-clicked': trip.clicked, 'trip-button': !trip.clicked, 'trip-button-mobile': {{pastTripsSelectionCtrl.mobile_device}}}" ng-repeat="trip in pastTripsSelectionCtrl.display_trips" ng-click="pastTripsSelectionCtrl.loadImageGallery( trip )">{{trip.name}}</button>
</div>

<!-- Map with trip locations -->
<br />
<div id="map"></div>

<image-gallery ng-show="pastTripsSelectionCtrl.selected_trip_name" seltrip="pastTripsSelectionCtrl.selected_trip_name"></image-gallery>
